@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Role Base Project using Identity 2.0</h1>
    <p class="lead">
        In this project, The Admin, Manager and Employee (Group Id) are active roles. The menu will be sactive as per the assign role.
        Secondly,The cookie are using to store a user information and expire session.
    </p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p class="well">
            The Admin have menu(home,about,contact,admin) visability. </p>
     
    </div>
    <div class="col-md-4">
        <h2>Manager</h2>
        <p class="well">
            The manager have menu(Home,Contact,Manager) visability.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Employee</h2>
        <p class="well">
            The Employee have menu(Home,Employee) visability.
        </p>
    </div>
</div>

<div class="jumbotron">
    <h4>User Guide</h4>
    <p class="lead">
        <ul>
            <li>I step:- The user has to register himself along with role as per their desire.</li>
            <li>II step:- login the applcation using same credentials .</li>
        </ul>
    </p>

</div>